{#
    This file is part of Rpui project.

    Rpui is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Rpui is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Rpui.  If not, see <http://www.gnu.org/licenses/>.
#}



<html>
<head>
    <meta charset="utf-8">
    <title>{{domain}} - {% block title %}{% end %}</title>
    <meta name="description" content="Free network server for IoT gadgets">
    <meta name="keywords" content="IoT, Internet of Things, Raspberry Pi, Orange Pi, Odroid, Gadgets, Network, Remote Control, Connection, Manage, Devices, between devices, GPL Licensed, Free, Open Source, Web based, Community">
    <meta name="author" content="Rplexus Developers">

    <link rel="stylesheet" href="/app/dojo/dijit/themes/claro/claro.css">

    <script
      data-dojo-config = "
        async: true, 
        parseOnLoad: true,
        packages: [{ name: 'app',location: '/app/'}, { name: 'tw',location: '/app/tw/'}]">
    </script>
    <script src = "/app/dojo/dojo/dojo.js"></script>
    <!--Thank you dojo hackers!-->

    <script 
      type = "application/json" 
      id = "serverdata">
        {
            "server_msg": "{{msg}}",
            "server_err": "{{err}}",
            "server_ver": "{{ver}}",
            "server_subver": "{{subver}}",
            "server_db" : {% raw json_encode(db) %}
        }
    </script>


    <script>
      {% block require %}{% end %}
    </script>

</head>

<body class="claro">  

  <script src="{% block app %}{% end %}"></script> 

  <div data-dojo-type="dijit/layout/BorderContainer" 
  data-dojo-props="gutters:false" data-dojo-id="l_mainContainer" 
  class="baseMainContainer">

    <div data-dojo-type="dijit/layout/ContentPane" 
      data-dojo-props="region:'top', splitter:false"
      data-dojo-id="l_topPane" class="baseTopPane">

      <table id="" class="baseMainTopTable">
        <tr>
          <td>
            <img id="w_nav_button" class="baseMainTopItems" height="0" src="/static/nav-button.png">
          </td>
          <td class="baseMainTopCenter" >
          <img id="w_content_button" class="baseMainTopItems" height="0" src="/static/content-button.png">
          </td>
          <td>
            <img id="w_user_button" class="baseMainTopItems" height="0" src="/static/user-button.png">
          </td>
        </tr>
      </table>
    </div>

    <div id="contentarea"
      data-dojo-type="dijit/layout/ContentPane" 
      data-dojo-props="region:'center', splitter:false" data-dojo-id="l_mainContentPane"
      class="baseMainContent">
      
      <div data-dojo-type="dijit/layout/StackContainer" data-dojo-id="w_mainStack">
          <div data-dojo-type="dijit/layout/ContentPane" data-dojo-id="w_mainStack_Nav" 
          class="baseMainStackPane">
              
          </div>
          <div data-dojo-type="dijit/layout/ContentPane" data-dojo-id="w_mainStack_Content" selected="True" class="baseMainStackPane">
            {% block content %}
            {% end %}
          </div>
          <div data-dojo-type="dijit/layout/ContentPane" data-dojo-id="w_mainStack_User" 
          class="baseMainStackPane">
          </div>

      </div>

    </div>

  </div>

</body>

</html>