{#
    This file is part of Rpui project.

    Rpui is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Rpui is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Rpui.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends "base.html" %}

{% block title %} Tasks{% end %}

{% block require %}
        require(["dojo/parser", 
            "dijit/layout/BorderContainer",
            "dijit/layout/ContentPane",
            "dijit/form/ValidationTextBox",
            "dijit/form/Textarea",
            "dijit/form/CheckBox",
            "dijit/form/MultiSelect",
            "dijit/form/Select",
            "dojox/validate/web",
            "dijit/form/Form"]);
{% end %}

{% block app %}/app/editnodetasks.js{% end %}

{% block content %}


    <form id="NodeTasksForm"
        name="NodeTasksForm"
        method="POST"
        data-dojo-type="dijit/form/Form">
        <input type="hidden" name="_xsrf" value="{{ xsrf_value }}"/>

        <label id="NodeNameLabel" for="NodeName"></label>
        <br/>
        <input id="NodeName"
            data-dojo-id = "NodeName" 
            name="name"
            type="text"
            required="true"
            readonly="true"
            data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="validator:dojox.validate.isText" />
        <br/><br/>


        <label id="TasksLabel" for="Tasks"></label>
        <br/>
        <select id="Tasks"
            data-dojo-id = "Tasks" 
            name="followed"
            multiple="true"
            data-dojo-type="dijit/form/MultiSelect"></select>
        <input id="TList" data-dojo-id="TList" name="tlist" type="hidden"></input>
        <br/>
        <button id="TasksDelButton" 
            data-dojo-id = "TasksDelButton" 
            data-dojo-type="dijit/form/Button"></button>&nbsp;
        <button id="TasksNewButton" 
            data-dojo-id = "TasksNewButton" 
            data-dojo-type="dijit/form/Button"></button>
        <br/><br/>

        <label id="TaskNameLabel" for="TaskName"></label>
        <br/>
        <input id="TaskName"
            data-dojo-id="TaskName"
            type="text"
            required="true"
            data-dojo-type="dijit/form/ValidationTextBox"/>
        <br/><br/>
        <label id="TaskDescLabel" for="TaskDesc"></label>
        <br/>
        <textarea id="TaskDesc"
            data-dojo-id="TaskDesc"
            name="desc"
            maxLength="240"
            cols="30"
            data-dojo-type="dijit/form/Textarea"></textarea>
        <br/><br/>
        <label id="TaskAccessLabel" for="TaskAccess"></label>
        <select id="TaskAccess"
            data-dojo-id = "TaskAccess"
            name="access"
            data-dojo-type="dijit/form/Select"></select>
        <br/>
        <input id="TaskShareAll" 
            data-dojo-id="TaskShareAll"
            name="shareall" 
            data-dojo-type="dijit/form/CheckBox" 
            value="all" 
            checked /> 
        <label id="TaskShareAllLabel" for="TaskShareAll"></label>
        <br/>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-id="TaskButtonsPane"></div>
        <br/><br/>
        
        <button id="TaskSubmitButton"
            data-dojo-id="TaskSubmitButton"
            data-dojo-type="dijit/form/Button">
        </button>
        <br id="MsgArea"  data-dojo-id="MsgArea"/><br/>
        <a id="TaskCancelLink" href=""></a>
    </form>



<!--<div data-dojo-type="dijit/layout/ContentPane" title="#2">Advertaisment</div>-->

{% end %}