{#
    This file is part of Rpui project.

    Rpui is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Rpui is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Rpui.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% block title %}Add  Node{% end %}

{% block require %}
        require(["dojo/parser", 
            "dijit/layout/BorderContainer",
            "dijit/layout/ContentPane",
            "dijit/form/ValidationTextBox",
            "dijit/form/Textarea",
            "dijit/form/CheckBox",
            "dijit/form/MultiSelect",
            "dijit/form/Select",
            "dojox/validate/web",
            "dijit/form/Form"]);
{% end %}

{% block app %}/app/editnode.js{% end %}

{% block content %}


    <form id="NodeForm"
        name="NodeForm"
        method="POST"
        data-dojo-type="dijit/form/Form">
        <input type="hidden" name="_xsrf" value="{{ xsrf_value }}"/>
        <input type="hidden" name="oldname" id="OldName" data-dojo-id="OldName"/>

        <label id="NodeNameLabel" for="NodeName"></label>
        <br/>
        <input id="NodeName"
            data-dojo-id="NodeName"
            name="name"
            type="text"
            required="true" 
            data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="validator:dojox.validate.isText" />
        <br/><br />
        <div id="RemoveQuestionArea"
            data-dojo-type="dijit/layout/ContentPane" 
            data-dojo-id="RemoveQuestionArea"></div>

        <label id="NodeDescLabel" for="NodeDesc"></label>
        <br/>
        <textarea id="NodeDesc"
            data-dojo-id="NodeDesc"
            name="desc"
            maxLength="240"
            cols="30"
            data-dojo-type="dijit/form/Textarea"></textarea>
        <br/><br/>


        <label id="NodeAccessLabel" for="NodeAccess"></label>
        <select id="NodeAccess"
            data-dojo-id = "NodeAccess"
            name="access"
            required="true"
            data-dojo-type="dijit/form/Select"></select>
        <br/>
        <input id="NodeShareAll" 
            data-dojo-id="NodeShareAll"
            name="shareall" 
            data-dojo-type="dijit/form/CheckBox" 
            value="all" 
            checked /> 
        <label id="NodeShareAllLabel" for="NodeShareAll"></label>
        <br/><br/>

        <button id="NodeSubmitButton"
            type="submit" 
            value="Submit"
            data-dojo-type="dijit/form/Button">
        </button>
        <br/><br/> 
        <a id="FollowedEdit" href=""></a>
        <br/>       
        <a id="TasksEdit" href=""></a>
        <br/><br/>
        <a id="NodeCancelLink" href=""></a>
    </form>    


<!--<div data-dojo-type="dijit/layout/ContentPane" title="#2">Advertaisment</div>-->

{% end %}