{#
    This file is part of Rpui project.

    Rpui is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Rpui is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Rpui.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% block title %}Add  Node{% end %}

{% block require %}
        require(["dojo/parser", 
            "dijit/layout/BorderContainer",
            "dijit/layout/ContentPane",
            "dijit/form/ValidationTextBox",
            "dijit/form/Textarea",
            "dijit/form/CheckBox",
            "dijit/form/MultiSelect",
            "dijit/form/Select",
            "dojox/validate/web",
            "dijit/form/Form"]);
{% end %}

{% block app %}/app/editnodefolloweds.js{% end %}

{% block content %}


    <form id="NodeFollowedsForm"
        name="NodeFollowedsForm"
        method="POST"
        data-dojo-type="dijit/form/Form">
        <input type="hidden" name="_xsrf" value="{{ xsrf_value }}"/>

        <label id="NodeNameLabel" for="NodeName"></label>
        <br/>
        <input id="NodeName"
            data-dojo-id = "NodeName" 
            name="name"
            type="text"
            required="true"
            readonly="true"
            data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="validator:dojox.validate.isText" />
        <br/><br/>


        <label id="NodeFollowedLabel" for="NodeFollowed"></label>
        <br/>
        <select id="NodeFollowed"
            data-dojo-id = "NodeFollowed" 
            name="followed"
            size="4" 
            multiple="true"
            data-dojo-type="dijit/form/MultiSelect"></select>
        <input id="NodeTList" data-dojo-id="NodeTList" name="tlist" type="hidden"></input>
        <br/>
        <button id="FollowedDelButton" 
            data-dojo-id = "FollowedDelButton" 
            data-dojo-type="dijit/form/Button"></button>
        <br/><br/>

        <label id="SearchLabel" for="UserName"></label>
        <br/>
        <input id="UserName"
            data-dojo-id="UserName"
            type="text"
            required="false"
            data-dojo-type="dijit/form/ValidationTextBox"/>
        <button id="UserSearchButton" 
            data-dojo-id="UserSearchButton" 
            data-dojo-type="dijit/form/Button"></button>
        <br/>
        <label id="UserTasksLabel"></label>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-id="UserTasksPane"></div>
        <button id="AddTasksButton" data-dojo-id="AddTasksButton" 
            data-dojo-type="dijit/form/Button"></button>
        <br/><br/>

        <button id="NodeSubmitButton"
            type="submit" 
            value="Submit"
            data-dojo-type="dijit/form/Button">
        </button>
        <br/><br/>
        <a id="NodeCancelLink" href=""></a>
    </form>



<!--<div data-dojo-type="dijit/layout/ContentPane" title="#2">Advertaisment</div>-->

{% end %}