{#
    This file is part of Rpui project.

    Rpui is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Rpui is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Rpui.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% block title %}Welcome{% end %}

{% block require %}
{% end %}

{% block app %}app/index.js{% end %}

{% block content %}


    <p><img src="static/rplexus-300.png" class="LogoImg"/></p>
    <p><label id="total-nodes-label"></label><br/>
    <label id="total_nodes" data-dojo-id="total_nodes"></label></p>
    <p><label id="alive-nodes-label"></label><br/>
    <label id="alive_nodes" data-dojo-id="alive_nodes"></label></p>
    <p><label id="total-users-label"></label><br/>
    <label id="total_users" data-dojo-id="total_users"></label></p>
    <form method="GET"
        action="/login" 
        data-dojo-type="dijit/form/Form">
        <p><button  id="lbutton" 
            type="submit"
            data-dojo-type="dijit/form/Button"></button></p>
    </form>
    <p>Visit <a href="https://rplexus.com">rplexus.com</a> for information.</p>


{% end %}