{#
    This file is part of Rpui project.

    Rpui is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Rpui is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Rpui.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% block title %}Login{% end %}

{% block require %}
        require(["dojo/parser", 
            "dijit/layout/BorderContainer",
            "dijit/layout/ContentPane",
            "dijit/form/ValidationTextBox",
            "dijit/form/CheckBox",
            "dojox/validate/web",
            "dijit/form/Form"]);
{% end %}

{% block app %}app/login.js{% end %}

{% block content %}

                    <form id="loginForm"
                        name="loginForm"
                        method="POST"
                        data-dojo-type="dijit/form/Form">
                        <input type="hidden" name="_xsrf" value="{{ xsrf_value }}"/>
                        
                        <label id="loginEmailLabel" for="loginEmail"></label>
                        <br/>
                        <input id="loginEmail"
                            name="user"
                            type="text"
                            required="true" 
                            data-dojo-type="dijit/form/ValidationTextBox"
                            data-dojo-props="validator:dojox.validate.isText"/>
                        <br/><br/>

                        <label id="loginPasswordLabel" for="loginPassword"></label>
                        <br/>
                        <input id="loginPassword" 
                            name="password"  
                            type="password" 
                            required="true" 
                            data-dojo-type="dijit/form/ValidationTextBox"
                            />
                        <br/><br/>
                        <input id="loginRememberMe" 
                            name="remember" 
                            data-dojo-type="dijit/form/CheckBox"/>
                        <label id="loginRememberMeLabel" for="loginRememberMe"></label>
                        <br/>
                        <input id="loginForgotPassw" 
                            name="forgot" 
                            data-dojo-type="dijit/form/CheckBox"/>
                        <label id="loginForgotPasswLabel" for="loginForgotPassw"></label>
                        <br/><br/>
                        <button  id="loginSubmitButton"
                            type="submit" 
                            value="Submit"
                            data-dojo-type="dijit/form/Button">
                        </button>

                    </form>

                    <br/>
                    <a id="signUpLink" 
                        href="/signup">
                   </a>



                <!--<div data-dojo-type="dijit/layout/ContentPane" title="#2">Advertaisment</div>-->

{% end %}