{#
    This file is part of Rpui project.

    Rpui is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Rpui is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Rpui.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% block title %}Email verification{% end %}

{% block require %}
{% end %}

{% block app %}app/signupverify.js{% end %}

{% block content %}


    <p><img src="static/rplexus-300.png"/></p>
    <p><label id="notification"></label><br/>
    <form id = "lform"
        method="GET"
        action="" 
        data-dojo-type="dijit/form/Form">
        <p><button  id="lbutton" 
            type="submit"
            data-dojo-type="dijit/form/Button"></button></p>
    </form>


{% end %}