{#
    This file is part of Rpui project.

    Rpui is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Rpui is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Rpui.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% block title %}Sign up{% end %}

{% block require %}
        require(["dojo/parser", 
            "dijit/layout/BorderContainer",
            "dijit/layout/ContentPane",
            "dijit/form/ValidationTextBox",
            "dijit/form/CheckBox",
            "dijit/form/Select",
            "dojox/validate/web",
            "dijit/form/Form"]);
{% end %}

{% block app %}app/signup.js{% end %}

{% block content %}


    <form id="signupForm"
        data-dojo-id="Form"
        name="signupForm"
        method="POST"
        data-dojo-type="dijit/form/Form">
        <input type="hidden" name="_xsrf" value="{{ xsrf_value }}"/>
        
        <label id="LangLabel" for="Lang"></label>
        <br/>
        <input id="Lang"
            data-dojo-id="Lang"
            name="lang"
            searchAttr="native"
            required="true" 
            data-dojo-type="dijit/form/Select" />
        <br/><br/>

        <label id="UnameLabel" for="Uname"></label>
        <br/>
        <input id="Uname"
            data-dojo-id="Uname"
            name="uname"
            type="text"
            required="true" 
            data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="validator:dojox.validate.isText" />
        <br/><br/>

        <label id="FirstNameLabel" for="FirstName"></label>
        <br/>
        <input id="FirstName"
            data-dojo-id="FirstName"
            name="fname"
            type="text"
            required="true" 
            data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="validator:dojox.validate.isText" />
        <br/><br/>

        <label id="LastNameLabel" for="LastName"></label>
        <br/>
        <input id="LastName"
            data-dojo-id="LastName"
            name="lname"
            type="text"
            required="true" 
            data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="validator:dojox.validate.isText" />
        <br/><br/>

        <label id="EmailLabel" for="Email"></label>
        <br/>
        <input id="Email"
            data-dojo-id="Email"
            name="email"
            type="text"
            required="true" 
            data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="validator:dojox.validate.isEmailAddress" />
        <br/><br/>

        <label id="EmailConfirmLabel" for="EmailConfirm"></label>
        <br/>
        <input id="EmailConfirm"
            data-dojo-id="Email2"
            name="email2"
            type="text"
            required="true" 
            data-dojo-type="dijit/form/ValidationTextBox"/>
        <br/><br/>

        <label id="PasswordLabel"  for="Password"></label>
        <br/>
        <input id="Password"
            data-dojo-id="Password"
            name="password"  
            type="password" 
            required="true" 
            data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="validator:dojox.validate.isText"/>
        <br/><br/>
        
        <label id="PasswordConfirmLabel"  for="PasswordConfirm"></label>
        <br/>
        <input id="PasswordConfirm" 
            data-dojo-id="Password2"
            name="password2"  
            type="password" 
            required="true" 
            data-dojo-type="dijit/form/ValidationTextBox"/>
        <br/><br/>

        <div class="ascii">
<!--Thank you figlet!-->
<pre>
{{captcha}}
</pre>
        </div>

        <input id="Captcha"
            data-dojo-id="Captcha"
            name="captcha"  
            required="true" 
            data-dojo-type="dijit/form/ValidationTextBox"/>
        <br/><br/>
       
        <button id="SubmitButton"
            data-dojo-id="Submit"
            value="Submit"
            data-dojo-type="dijit/form/Button">
                
        </button>
        <br id="MsgArea"/><br/>
    </form>



<!--<div data-dojo-type="dijit/layout/ContentPane" title="#2">Advertaisment</div>-->

{% end %}