{#
    This file is part of Rpui project.

    Rpui is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Rpui is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Rpui.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% block title %}User Password{% end %}

{% block require %}
        require(["dojo/parser", 
            "dijit/layout/BorderContainer",
            "dijit/layout/ContentPane",
            "dijit/form/ValidationTextBox",
            "dijit/form/CheckBox",
            "dojox/validate/web",
            "dijit/form/Form"]);
{% end %}

{% block app %}/app/upassword.js{% end %}

{% block content %}


    <form id="PasswordForm"
        name="PasswordForm"
        data-dojo-type="dijit/form/Form">

        <label id="PasswordLabel"  for="Password"></label>
        <br/>
        <input id="Password" 
            type="password" 
            required="true" 
            data-dojo-id="Password"
            data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="validator:dojox.validate.isText"/>
        <br/><br/>


        <label id="NewPassLabel1"  for="NewPass1"></label>
        <br/>
        <input id="NewPass1" 
            type="password" 
            required="true" 
            data-dojo-id="NewPass1"
            data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="validator:dojox.validate.isText"/>
        <br/><br/>


        <label id="NewPassLabel2"  for="NewPass2"></label>
        <br/>
        <input id="NewPass2" 
            type="password" 
            required="true" 
            data-dojo-id="NewPass2"
            data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="validator:dojox.validate.isText"/>
        <br/><br/>

       
        <button id="SubmitButton"
            data-dojo-id="SubmitButton"
            data-dojo-type="dijit/form/Button">
        </button>
        <br id="MsgArea"/><br/>
        <a id="Cancel" data-dojo-id="Cancel"></a>
    </form>

{% end %}