{#
    This file is part of Rpui project.

    Rpui is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Rpui is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Rpui.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "base.html" %}

{% block title %}User Settings{% end %}

{% block require %}
        require(["dojo/parser", 
            "dijit/layout/BorderContainer",
            "dijit/layout/ContentPane",
            "dijit/form/ValidationTextBox",
            "dijit/form/CheckBox",
            "dojox/validate/web",
            "dijit/form/Form"]);
{% end %}

{% block app %}/app/usettings.js{% end %}

{% block content %}


    <form id="SettingsForm"
        name="SettingsForm"
        method="POST"
        data-dojo-type="dijit/form/Form">
        <input type="hidden" name="_xsrf" value="{{ xsrf_value }}"/>
        

        <label id="UnameLabel"></label>
        <br/>
        <label id="Uname" data-dojo-id="Uname"></label>
        <br/><br/>
        <label id="RcodeLabel"></label>
        <br/>
        <label id="Rcode" data-dojo-id="Rcode"></label>
        <br/><br/>

        <label id="FirstNameLabel" for="FirstName"></label>
        <br/>
        <input id="FirstName"
            name="fname"
            type="text"
            required="true" 
            data-dojo-id="FirstName"
            data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="validator:dojox.validate.isText" />
        <br/><br/>

        <label id="LastNameLabel" for="LastName"></label>
        <br/>
        <input id="LastName"
            name="lname"
            type="text"
            required="true" 
            data-dojo-id="LastName"
            data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="validator:dojox.validate.isText" />
        <br/><br/>

        <label id="EmailLabel" for="Email"></label>
        <br/>
        <input id="Email"
            name="email"
            type="text"
            required="true"
            data-dojo-id="Email" 
            data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="validator:dojox.validate.isEmailAddress" />
        <br/><br/>

        <label id="LangLabel" for="Lang"></label>
        <br/>
        <input id="Lang"
            name="lang"
            searchAttr="native"
            required="true"
            data-dojo-id="Lang" 
            data-dojo-type="dijit/form/Select" />
        <br/><br/>


        <label id="PasswordLabel"  for="Password"></label>
        <br/>
        <input id="Password" 
            name="password"  
            type="password" 
            required="true" 
            data-dojo-id="Password"
            data-dojo-type="dijit/form/ValidationTextBox"
            data-dojo-props="validator:dojox.validate.isText"/>
        <br/><br/>

       
        <button id="SubmitButton"
            data-dojo-id="SubmitButton"
            data-dojo-type="dijit/form/Button">
        </button>
        <div id="MsgArea"></div>
        <br/><br/>
        <a id="Cancel" data-dojo-id="Cancel"></a>
    </form>

{% end %}