/*
    This file is part of Rpui project.

    Rpui is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Rpui is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Rpui.  If not, see <http://www.gnu.org/licenses/>.
*/

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  src: local('Ubuntu'), url(/static/font/ubuntu/ubuntu_v7.woff2) format('woff2'), url(/static/font/ubuntu/ubuntu_v7.woff) format('woff');
}


html, body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu';
}



div{ 
    border-radius: 3px;
    /*border: 1px solid grey;*/
}

/*a:link, a:visited {
    text-decoration: none;
}
*/

.err{
  color: red;
}


.msg{
  color: green;
}
