/*
    This file is part of Rpui project.

    Rpui is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Rpui is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Rpui.  If not, see <http://www.gnu.org/licenses/>.
*/

body, .dijitTextArea, .dijitMultiSelect{
    font-size: calc(12px + 1.5vmax);
}

.textLow05{
    font-size: calc(10px + 1vmax);
}

/*
base.html
*/

.baseMainContainer[style]{
  width: 100%; 
  min-height: 100%; 
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
}

.baseTopPane[style]{
  margin: 0px; 
  padding: 0px;
  border: none;
  border-radius: 0px;
}

.baseMainTopTable{
  background: red;
  margin:0px; 
  padding: 0px;
  
}

.baseMainTopItems{
  height: calc(16px + 1.5vmax);
  cursor: pointer;
}

.baseMainTopCenter {
  width:100%; 
  text-align:center;
  cursor: pointer;
  font-size: calc(12px + 1.5vmax);
}


.baseMainContent{
  text-align:center; 
  overflow:auto; 
  border: 0px;
  background-color: LightGrey;
}

.baseMainStackPane{
  overflow:scroll;
}

.ascii {
   color: black;
   font-size: 2vmax;
}

.text_10{
   font-size: 12pt;
}

.itemleftpane{
   text-align: left;
   float: left;
   max-width: 80%;
}

.itemrightpane{
   min-width: 10%;
   float: right;
}



.onoff_on{
  background: linear-gradient(white, #ccffcc);
  border-radius: 10px; 
  border: 1px solid grey;
  padding: 10px;
}

.onoff_off{
  background: linear-gradient(white, grey);
  border-radius: 10px;
  border: 1px solid grey;
  padding: 10px;
}



/*
dockpane
*/


.dpbtnimg {
  height: 2.5vmax;
}




.contentitem{
  width: 90%;
  /*max-width: 30%;*/
  margin: 3px;
  padding: 0px;
  float: left;
  /*border: 1px solid grey;*/
  border-radius: 3px;
  background-color: white;
}