/*
    This file is part of Rpui project.

    Rpui is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Rpui is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Rpui.  If not, see <http://www.gnu.org/licenses/>.
*/

.newcontentitem{
  margin: 3px;
  padding: 0px;
  /*float: left;*/
  border: 1px solid grey;
  background: linear-gradient(white, #dddddd);
}


.nameContent{
  float: left;
  margin: 0px;
  text-align: left;
  max-width: 75%;
}

.statusContent{
  width: 10%;
  margin: 0px;
  float: left;
}


.controlsContent{
  width: 5%;
  margin: 0px;
  float: right;
}

.statusImg{
  height: calc(12px + 4vmax);
}

.controlsImg{
  height: calc(12px + 2vmax);
}